<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="NSLR_ObservationControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
	</configSections>
	<log4net>
		<!-- [[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[ Appenders -->
		<!-- appender #1 console-->
		<appender name="console" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<!-- appender #2 ColoredConsoleAppender -->
		<appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
			<threshold value="ALL" />
			<mapping>
				<level value="DEBUG" />
				<foreColor value="Green, HighIntensity" />
			</mapping>
			<mapping>
				<level value="INFO" />
				<foreColor value="Blue, HighIntensity" />
			</mapping>
			<mapping>
				<level value="WARN" />
				<foreColor value="Yellow, HighIntensity" />
			</mapping>
			<mapping>
				<level value="ERROR" />
				<foreColor value="White" />
				<backColor value="Red, HighIntensity" />
			</mapping>
			<mapping>
				<level value="FATAL" />
				<foreColor value="White" />
				<backColor value="Red, HighIntensity" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger  %message%newline" />
			</layout>
		</appender>

		<!-- appender #3 FILE -->
		<appender name="file" type="log4net.Appender.RollingFileAppender">
			<file value="D:/NSLR_LOG/Operation.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="100MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger %message%newline" />
			</layout>
		</appender>

		<!-- appender #4 FILE - FATAL  -->
		<appender name="fatal_file" type="log4net.Appender.RollingFileAppender">
			<file value="D:/NSLR_LOG/fatal.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="100MB" />
			<staticLogFileName value="true" />
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="FATAL" />
				<param name="LevelMax" value="FATAL" />
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger %message%newline" />
			</layout>
		</appender>

		<!-- appender #5 UdpAppender for InterPC message -->
		<appender name="UdpAppender" type="log4net.Appender.UdpAppender">
			<remoteAddress value="192.168.10.10" />
			<remotePort value="55555" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger %message%newline" />
			</layout>
		</appender>

		<root>  <!-- ++++++++++++++ [ Appenders to USE ] +++++++++++++++++++++++++  -->
			<level value="ALL" />
			<appender-ref ref="UdpAppender" />
			<appender-ref ref="ColoredConsoleAppender" />
			<appender-ref ref="file" />
			<appender-ref ref="fatal_file" />
		</root>
		<!-- Appenders ]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]  -->
	</log4net>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenCvSharp" publicKeyToken="6adad1e807fea099" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <NSLR_ObservationControl.Properties.Settings>
      <setting name="SLR_AzValue" serializeAs="String">
        <value>61.1</value>
      </setting>
      <setting name="SLR_ElValue" serializeAs="String">
        <value>2.1</value>
      </setting>
      <setting name="DLT_AzValue" serializeAs="String">
        <value>61.2</value>
      </setting>
      <setting name="DLT_ElValue" serializeAs="String">
        <value>2.2</value>
      </setting>
    </NSLR_ObservationControl.Properties.Settings>
  </userSettings>
</configuration>
